<p id="notice"><%= notice %></p>

<p>
  <b>Message:</b>
  <%= @comment.message %>
</p>

<p>
  <b>Username:</b>
  <%= @comment.username %>
</p>

<p>
  <b>Ip address:</b>
  <%= @comment.ip_address %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
