
<div class="form-wrapper">
  <div class="form-inner-wrapper">
    <%= form_for @user,:url => users_url(:secure => secure?) do |f| %>    
      <div class="field-list clear">
        <div class="form-item field name required">
          <%=f.label :name, :class=>"title"%>
          <%=f.text_field :name, :class=>"field-element"%>        
        </div>
        <div class="form-item field email required">
          <%=f.label :email, :class=>"title"%>
          <%=f.text_field :email, :class=>"field-element"%>
        </div>
        <%if @user.new_record?%>
          <div class="form-item field password required">
            <%=f.label :password, :class=>"title"%>
            <%=f.password_field :password, :class=>"field-element"%>
          </div>
        <%end%>
      </div>
      <div class="form-button-wrapper form-button-wrapper--align-left">
        <input type="submit" value="Submit" class="button sqs-system-button sqs-editable-button">
      </div>
        
    <%end%>
  </div>
</div>

