<%if @post.id && @post.image.present?%>
  <%=render :partial=>"image", :locals=>{:src=>@post.image.url}%>
<%end%>
<div class="form-wrapper">
  <div class="form-inner-wrapper">
    <%= form_for [@board, @post] do |f| %>
      <div class="field-list clear">
        <div class="form-item field">
          <%= f.label :title, :class=>"title" %>
          <%= f.text_field :title, :class=>"field-element" %>
        </div>
        <div class="form-item field">
          <%= f.label :message, :class=>"title" %>
          <%= f.text_area :message, :class=>"field-element", :rows=>nil %>
        </div>
        <%if @active_link=="upload"%>
          <div class="form-item field">
            <%=f.label :image, :class=>"title", :value=>"Upload Image"%>
            <%=f.file_field :image, :class=>"field-element"%>
          </div>
        <%end%>
        <%if @post.temp_user?%>
          <div class="form-item field">
            <%= f.label :username, :class=>"title" %>
            <%= f.text_field :username, :class=>"field-element" %>
          </div>
        <%end%>
        <%if @post.new_record? && @post.is_upload?%>
          <div class="option"><label><input id="i-made-this" type="checkbox" value="1" name="uploaded_art"> I made this image</label></div>
        <%end%>
        <%if @board.faq?%>
          <div class="form-item field">
            <select name="post[faq_category]">
              <%Post.faq_keys.keys.each do |k|%>
                <option><%=k%></option>
              <%end%>
            </select>
          </div>          
        <%end%>
        <div class="submit-holder">
          <input type="submit" value="<%=@post.already_finished? ? "Update" : "Post"%>" class="button sqs-system-button sqs-editable-button">  <%=render :partial=>"posts/avatar", :locals=>{:user=>current_user}%>
        </div>
      </div>
    <% end %>
  </div>
</div>
