      <ul>
        <li class="page-collection <%="active-link" if @active_link=="home"%>">
            <%=link_to "Community.", root_url%>
        </li>
        <li class="page-collection <%="active-link" if @active_link == "doodle"%>">
            <%=link_to "Doodle a pic.", doodle_path, :class=>"doodle-link "+set_canvas_size_class%>
        </li>
          <li class="page-collection <%="active-link" if @active_link == "upload"%>">
              <%=link_to "ask a question.", upload_board_posts_path(@board || Board.default)%>
          </li>
        <%if logged_in?%>
          <li class="page-collection <%="active-link" if @active_link == "edit_account"%>">
               <%=link_to "Profile.", edit_user_path(current_user)%>
          </li>
        <%else%>
          <li class="page-collection">  
             <%=link_to "Login.", login_path, :class=>"loginable"%>
          </li>
          <li class="page-collection <%="active-link" if @active_link == "new_account"%>">
              <%=link_to "New Account.", new_user_path%>
          </li>
        <%end%>
        <li class="page-collection <%="active-link" if @active_link == "faq"%>">
            <%=link_to "FAQ.", faq_path%>
        </li>
      </ul>